<tool-tip data-tool-tip="{{ context }}">
  <div class="tool-tip__inner" data-tool-tip-inner>
    <button class="tool-tip__close" data-tool-tip-close=""><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg></button>
    <div data-tool-tip-title>{{ page_title }}</div>
    <div class="tool-tip__content" data-tool-tip-content>
    </div>
  </div>
</tool-tip>
