/* PageFly Element Styles */
					.lgZhBD.pf-editor-section::before, .lgZhBD.pf-editor-section::after { content: ""; display: block; position: absolute; left: 0px; right: 0px; width: 100%; height: 10px; }
.lgZhBD.pf-editor-section::before { top: -10px; }
.lgZhBD.pf-editor-section::after { bottom: -10px; }
.lgZhBD__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.lgZhBD { padding: 15px 0px; position: relative; }
.lgZhBD .sc-dliRfk { position: relative; }
.lgZhBD[data-container="true"] .sc-dliRfk { padding: 0px 15px; width: 100%; margin: auto; }
.lgZhBD .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.bKfKKj { }
.ciNxzc { margin: 0px -15px; }
.BcUQo { position: relative; }
.BcUQo.pf-editor-col::before, .BcUQo.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.BcUQo.pf-editor-col::before { left: -10px; }
.BcUQo.pf-editor-col::after { right: -10px; }
.iUKiYr > a { color: inherit !important; }
.iUKiYr > span { font-weight: inherit; text-decoration: inherit; }
.iUKiYr { word-break: break-word; }
.iUKiYr.pf-i--left i { margin-right: 0.3em; }
.iUKiYr.pf-i--right i { margin-left: 0.3em; }
.iUKiYr.pf-i--top i { margin-bottom: 0.5em; }
.iUKiYr.pf-i--top > span, .iUKiYr.pf-i--top > a { display: block; }
.iUKiYr.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.iUKiYr [class*="--diamond"] { margin-right: 1em; }
.uIbp { display: inline-block; }
.uIbp { vertical-align: baseline; word-break: break-word; }
.uIbp:focus { outline: none; }
.bLbPLR > span:last-child { line-height: inherit; display: block; }
.bLbPLR[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.bLbPLR[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.bLbPLR.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.bLbPLR.dropcap--circle > span:first-child { border-radius: 100%; }
.bLbPLR:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.bLbPLR ol, .bLbPLR ul { list-style-position: inside; }
.bLbPLR blockquote { font-size: inherit; }
.bCjAFQ { display: -webkit-flex; -webkit-box-align: stretch; align-items: stretch; flex-flow: column; }
.bCjAFQ > nav { display: flex; flex-wrap: wrap; -webkit-box-pack: center; justify-content: center; position: relative !important; }
.bCjAFQ > nav > a.nav-item { color: black; display: inline-block; padding: 0.5em 1em; font-weight: bold; border-width: 1px 1px 2px; text-decoration: none; border-bottom-style: solid; border-bottom-color: transparent; }
.bCjAFQ > nav > a.nav-item > i { margin-right: 0.3em; }
@media (max-width: 768px) {
  .bCjAFQ > nav > a.nav-item { margin-top: 5px !important; margin-bottom: 5px !important; }
}
@media (max-width: 767px) {
}
.bCjAFQ > nav > a[data-active="true"] { border-color: inherit; }
.bCjAFQ .sc-fcdeBU { padding: 1.5rem 0px; }
.bZUIRQ { padding: 1.5rem 0px; }
.KRybH { margin: 0px -15px; }
.KRybH .pf__shopify-product { width: 100%; text-align: center; }
.KRybH .pf-c { padding: 15px; display: flex; }
.KRybH .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; max-width: 100%; position: relative; }
.KRybH .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.KRybH .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.KRybH .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.KRybH .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.KRybH .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.KRybH .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.KRybH .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.KRybH .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.KRybH .shopify__product-vertical, .KRybH .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.KRybH .shopify__product-vertical .product__info, .KRybH .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.KRybH .shopify__product-horizontal { display: -webkit-flex; }
.KRybH .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.KRybH .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.KRybH .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.KRybH .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
.gJXqlU { position: relative; }
.htgpzE > a { color: inherit !important; }
.htgpzE > span { font-weight: inherit; text-decoration: inherit; }
.htgpzE { word-break: break-word; }
.htgpzE.pf-i--left i { margin-right: 0.3em; }
.htgpzE.pf-i--right i { margin-left: 0.3em; }
.htgpzE.pf-i--top i { margin-bottom: 0.5em; }
.htgpzE.pf-i--top > span, .htgpzE.pf-i--top > a { display: block; }
.htgpzE.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.htgpzE [class*="--diamond"] { margin-right: 1em; }
.jSNcIx > a { color: inherit !important; }
.jSNcIx > span { font-weight: inherit; text-decoration: inherit; }
.jSNcIx { word-break: break-word; }
.jSNcIx.pf-i--left i { margin-right: 0.3em; }
.jSNcIx.pf-i--right i { margin-left: 0.3em; }
.jSNcIx.pf-i--top i { margin-bottom: 0.5em; }
.jSNcIx.pf-i--top > span, .jSNcIx.pf-i--top > a { display: block; }
.jSNcIx.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.jSNcIx [class*="--diamond"] { margin-right: 1em; }
.yecUC { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.yecUC img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.gEjpUs__button { background-color: rgb(238, 238, 238); cursor: pointer; padding: 10px 15px; text-align: left; outline: none; transition: all 0.4s ease 0s; display: block; position: relative; }
.gEjpUs .accordion__content { padding: 1rem; }
.gEjpUs__button > i { margin-right: 5px; }
.eFdApE { padding: 0px !important; }
.kwSedJ { background-color: rgb(238, 238, 238); cursor: pointer; padding: 10px 15px; text-decoration: none; color: black; text-align: left; outline: none; transition: all 0.4s ease 0s; display: block; position: relative; }
.kwSedJ > i { margin-right: 5px; }
.kwSedJ div { padding: 1.5rem 0px; }
.kwSedJ .accordion__arrow { transition: all 0.2s ease 0s; }
.kwSedJ[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.hpLMPR { clear: both; }
.hpLMPR[data-parallax="true"] { position: relative; }
.hpLMPR__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.hpLMPR { box-sizing: border-box; padding: 15px 0px; position: relative; }
.hpLMPR[data-container] .sc-dqBHgY { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.hpLMPR[data-parallax="true"] { background: none !important; }
.hpLMPR .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.htgaJh { min-height: 30px; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Heading"].pf-a6a16161 {
		font-size: 40px;
		 line-height: 50px;
		 margin: 0px;
		 color: rgb(255, 255, 255);
		 text-transform: uppercase;
		 font-family: Roboto;
		 text-align: center;
	}
	[data-pf-type="Paragraph"].pf-d723b678 {
		color: white;
		 font-family: Roboto;
		 font-size: 21px;
		 text-transform: capitalize;
		 text-align: center;
	}
	[data-pf-type="Row"].pf-e6c3f4d7 {
		margin: 0px;
	}
	[data-pf-type="Section"].pf-20af6199 {
		background-color: rgb(247, 181, 18);
		 color: white;
		 font-size: 21px;
		 font-family: Roboto;
		 text-transform: capitalize;
	}
	[data-pf-type="Paragraph"].pf-cd7faf48 {
		font-size: 21px;
		 font-family: Roboto;
		 font-weight: 400;
		 line-height: 25px;
		 color: black;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-39abb445 {
		color: black;
	}
	[data-pf-type="Row"].pf-f9c4432a {
		color: black;
		 font-family: Roboto;
		 text-align: center;
	}
	[data-pf-type="Section"].pf-4a4dc601 {
		color: rgb(255, 88, 28);
		 text-align: center;
		 font-family: Roboto;
		 font-size: 19px;
	}
	[data-pf-type="Shopify.Products"].pf-b401d14c > .pf-c > div > div > div > .product__button {
		background-color: rgb(247, 181, 18);
	}
	[data-pf-type="Heading"].pf-3946005c {
		font-family: Roboto;
		 font-weight: 500;
		 font-size: 24px;
	}
	[data-pf-type="Block"].pf-0871c70e {
		text-align: center;
	}
	[data-pf-type="Row"].pf-8f3a0367 {
		font-family: Roboto;
		 margin: 0px -15px;
	}
	[data-pf-type="Section"].pf-843c8bc1 {
		padding: 100px 0px;
		 background-size: auto;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/2489/7792/files/testimonial-bg.jpg?13707114187512832112");
		 font-family: Roboto;
		 color: white;
	}
	[data-pf-type="Heading"].pf-968d3471 {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 font-size: 40px;
		 font-weight: 900;
		 color: rgb(247, 181, 18);
	}
	[data-pf-type="Block"].pf-e2e71014 {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-edb955d6 {
		text-align: center;
		 color: black;
		 font-family: Roboto;
		 font-size: 18px;
		 line-height: 19.2px;
	}
	[data-pf-type="Column"].pf-0209b771 {
		line-height: 14.2px;
		 font-size: 16px;
		 color: rgb(255, 88, 28);
	}
	[data-pf-type="Row"].pf-f7c585ff {
		font-family: Roboto;
		 color: rgb(255, 88, 28);
	}
	[data-pf-type="Block"].pf-05068aab {
		padding-left: 15px;
	}
	[data-pf-type="Block"].pf-674b2b2d {
		text-align: center;
	}
	[data-pf-type="Block"].pf-5146af0d {
		padding-left: 15px;
	}
	[data-pf-type="Block"].pf-ae5eae11 {
		text-align: center;
	}
	[data-pf-type="Block"].pf-0bcdb5cf {
		padding-left: 15px;
	}
	[data-pf-type="Block"].pf-b674727e {
		text-align: center;
	}
	[data-pf-type="Row"].pf-03ef1553 {
		color: black;
	}
	[data-pf-type="Accordion"].pf-ea462cfa > .accordion__item {
		margin-bottom: 10px;
		 border-style: solid;
		 border-width: 0px;
		 border-radius: 0px;
	}
	[data-pf-type="Accordion"].pf-ea462cfa {
		text-align: left;
		 font-family: Roboto;
		 border: medium none;
	}
	[data-pf-type="Accordion"].pf-ea462cfa > div > [class*="accordion__header"] {
		font-weight: 600;
		 border-style: none;
		 border-width: 0px;
		 padding: 15px;
		 font-size: 16px;
		 color: black;
		 text-align: center;
		 font-family: Roboto;
		 background-color: white;
		 text-transform: uppercase;
	}
	[data-pf-type="Heading"].pf-97f594e1 {
		text-align: center;
		 text-transform: uppercase;
		 letter-spacing: 2px;
	}
	[data-pf-type="Row"].pf-35d13ccb {
		margin: 0px;
	}
	[data-pf-type="Paragraph"].pf-622d6066 {
		text-transform: uppercase;
		 color: black;
		 text-align: center;
	}
	[data-pf-type="Section"].pf-ab49f05c {
		font-family: Roboto;
		 border-style: solid;
		 border-color: rgb(247, 181, 18);
		 border-width: 10px;
		 color: rgb(247, 181, 18);
	}
}