/* PageFly Element Styles */
					.lgZhBD.pf-editor-section::before, .lgZhBD.pf-editor-section::after { content: ""; display: block; position: absolute; left: 0px; right: 0px; width: 100%; height: 10px; }
.lgZhBD.pf-editor-section::before { top: -10px; }
.lgZhBD.pf-editor-section::after { bottom: -10px; }
.lgZhBD__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.lgZhBD { padding: 15px 0px; position: relative; }
.lgZhBD .sc-dliRfk { position: relative; }
.lgZhBD[data-container="true"] .sc-dliRfk { padding: 0px 15px; width: 100%; margin: auto; }
.lgZhBD .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.ciNxzc { margin: 0px -15px; }
.BcUQo { position: relative; }
.BcUQo.pf-editor-col::before, .BcUQo.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.BcUQo.pf-editor-col::before { left: -10px; }
.BcUQo.pf-editor-col::after { right: -10px; }
.jSNcIx > a { color: inherit !important; }
.jSNcIx > span { font-weight: inherit; text-decoration: inherit; }
.jSNcIx { word-break: break-word; }
.jSNcIx.pf-i--left i { margin-right: 0.3em; }
.jSNcIx.pf-i--right i { margin-left: 0.3em; }
.jSNcIx.pf-i--top i { margin-bottom: 0.5em; }
.jSNcIx.pf-i--top > span, .jSNcIx.pf-i--top > a { display: block; }
.jSNcIx.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.jSNcIx [class*="--diamond"] { margin-right: 1em; }
.uIbp { display: inline-block; }
.uIbp { vertical-align: baseline; word-break: break-word; }
.uIbp:focus { outline: none; }
.bLbPLR > span:last-child { line-height: inherit; display: block; }
.bLbPLR[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.bLbPLR[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.bLbPLR.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.bLbPLR.dropcap--circle > span:first-child { border-radius: 100%; }
.bLbPLR:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.bLbPLR ol, .bLbPLR ul { list-style-position: inside; }
.bLbPLR blockquote { font-size: inherit; }
.yecUC { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.yecUC img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Heading"].pf-b794d13f {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 font-family: Roboto;
		 text-align: center;
		 font-weight: 900;
	}
	[data-pf-type="Section"].pf-5fc84bf9 {
		background-color: rgb(247, 181, 18);
		 color: white;
		 font-family: Roboto;
		 font-weight: 400;
	}
	[data-pf-type="Paragraph"].pf-99b7707e {
		text-align: center;
	}
	[data-pf-type="Image"].pf-9839cb0f {
		justify-content: center;
		 align-items: center;
	}
}